@import './utils.scss';

a.links-button{
    width: 100%;
    background-color: $button-bg;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 1.2rem 0;
    margin-bottom:  1.5rem;
    cursor: pointer;
    display: block;
    text-decoration: none;
    border-radius: 8px;
}

@media (hover:hover) and (pointer:fine){

a.links-button:hover{
    background-color: #abaeba;
    color: white;
}
  }

  @media screen and (max-width: 780px) {
    a.links-button{
        font-size: 0.875rem;
    }
  }